<div id="wrapper">
	<div class="text-wrapper">
		<h1></h1>
	</div>
	<div id="games">
		<div class="game" >
			<div class="teams clear">
				<div class="team home">
					<img src="./img/pirates.png" />
				</div>
				<p class="vs">host</p>
				<div class="team away">
					<img src="./img/cubs_v.png" />
				</div>
			</div>
			
			<div class="info clear">
				<div class="time">
					<p class="when_day"></p>
					<p class="when_time"></p>
				</div>
				<div class="station">
					<a href="http://www.tbs.com/sports/mlb.html"><img src="./img/tbs.png" /></a>
				</div>
			</div>
		</div>
	</div>
</div>

<a href="http://mlb.mlb.com/home"><img id="logo" src="./img/logo.png" /></a>